.bg-dark{
    background-color: #3d2a81!important;
}

.navbar{
    padding-left: 120px;
    padding-right: 120px;
}

.btn-primary{
    background-color:blue;
    color: white;
    padding-left: 85px;
    padding-right: 85px;
    margin-left: 15px;
    margin-right: 15px; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.788);
    border-color: white;
    transition: all .3s ease-in-out;
}

.btn-primary:hover{
    background-color: blue;
}

h3{
    font-weight: bold;
    font-size:20;
}

#parrafo{
    background-color:#bcd3ec; 
    color:blue;
    padding:10px; 
    border-radius:5px;
    width:100%;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

#parrafo:hover{
    background-color: #9bc2ec;
}

@media (max-width: 700px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }

    #img{
        display:none;
    }
  }
